/* A lot of redundant styling! Needs fixing! */

/* Static content */ 

* {
    font-family: Raleway, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

#cover-image {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center 50%;
}

#main-header {
    width: 100%;
    height: 4rem;
    background-color: #164a97;

    display: flex;
    justify-content: flex-end;
}

#header-nav-bar {
    width: auto;
    height: 4rem;
    margin-right: 1rem;

    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: flex-end;    
}

#header-nav-bar button {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #164a97;

    transition: color 0.2s ease-in-out;
}

.red-diamond {
    font-size: 1.5rem;
}

#header-nav-bar button:hover {
    color: #d70000;
}

#footer-container {
    width: 100%;
    height: auto;

    margin-top: 0;
    border-top: 4rem solid #164a97;
    background-color: #f2eb05;
}

#main-footer {
    margin-left: 1rem;
    display: flex;
    gap: 0.5rem;    

}

#main-footer p {
    font-size: 3rem;
    font-weight: bold;
    color: #d70000;
    -webkit-text-stroke: 2px #164a97;
    margin: 1rem 0 0.5rem 0;
}

#main-footer-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

#main-footer-form input[type="email"] {
    width: 60%;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 3px solid #164a97;
}

#main-footer-form textarea {
    width: 60%;
    height: 5rem;

    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    border: 3px solid #164a97;
    resize: none;
}

#main-footer-form input[type="submit"] {
    width: 25%;
    height: 2.5rem;

    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #164a97;
    background-color: white;
    cursor: pointer;
    border: 3px solid #164a97;
    border-radius: 0.5rem;
    transition: background-color 0.4s ease-out;
    transition: color 0.4s ease-out;
} 

#main-footer-form input[type="submit"]:hover {
    background-color: #164a97;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    height: 100vh;
    overflow: hidden; 
    background-color: #d70000;
}

/* Dynamic content */

/* Home */

#content-upper-home {
    margin-top: 1rem;
    width: 100%;
    height: 50%;
    background-color: #d70000;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border-bottom: 0.5rem solid #d70000;
}

.images-home {
    width: 22rem;
    height: 22rem;
    border: 0.3rem solid #164a97;
    border-radius: 0.5rem;
}

#content-lower-home {
    width: 100%;
    height: 50%;

    display: flex;
    gap: 1rem;

    background-color: #d70000;
}  

#quote-box-home {
    background-color: white;
    width: 50rem;
    height: 14rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(37, 37, 37, 0.5);

    margin-top: 3rem;
    padding: 2rem;
}

#quote-home {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
    color: #164a97;
}

#attribution-home {
    margin-top: -0.1rem;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: right;
    color:#d70000;
}

/* Menu */

#content-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#not-available-image {
    width: 22rem;
    height: 22rem;
    border: 0.4rem solid #e1463e;
    border-radius: 50%;
    padding: 2.5rem;
    margin-top: -5rem;
}

/* History */

#content-history {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d70000;
}

#video-box-history {
    margin: 0 auto;
    background-color: white;
    width: 65rem; height: 36.5rem;  
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    padding: 1rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 0 1rem rgba(37, 37, 37, 0.5);
}

#loading-text-history {
    position: absolute;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

#video-history {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Job Listings */

#content-div-jobs {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #d70000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#staff-image-jobs {
    margin: 4rem 0;
    box-shadow: 0 0 1rem rgba(37, 37, 37, 0.5);
}

#apply-div-jobs {
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(37, 37, 37, 0.5);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#apply-text-jobs {
    font-size: 2.4rem;
    font-weight: bold;
    color: #164a97;
    margin-bottom: 0;
}

#apply-button-jobs {
    font-weight: bold;
    border: none;
    border: 3px solid rgb(4, 23, 52);
    border-radius: 0.5rem;
    background-color: #164a97;
    color: white;
    cursor: pointer;
    width: 25%;
    height: 3.5rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;

    transition: background-color 0.2s ease-in-out;
}

#form-div-jobs {
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(37, 37, 37, 0.5);
    position: absolute;
    top: 35.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#apply-form-jobs {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

#apply-form-text-jobs {
    margin: 0 0 1rem 0;
    color: #164a97;
    font-size: 2.4rem;
    font-weight: bold;
}

#name-fieldset-jobs {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    border: none;
}

#name-input-jobs,
#last-name-input-jobs {
    padding: 0.5rem 0 0.5rem 0.5rem;
    height: 2rem; 
    font-size: 1.2rem;
    width: 45%;
    border: 1px solid black;
}

#email-role-fieldset-jobs {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    border: none;
}

#email-input-jobs {
    padding: 0.5rem 0 0.5rem 0.5rem;
    height: 2rem; 
    font-size: 1.2rem;
    width: 45%;
    border: 1px solid black;
}

#role-select-jobs {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 46.09%;
    border: 1px solid black;
}

#cv-fieldset-jobs {
    margin: 1rem 0 1rem 0;
    padding: 0;
    
    display: flex;
    gap: 0.5rem;
    border: none;
}

#cv-prompt-text-jobs {
    font-size: 1.2rem;
    height: 2rem;
    font-weight: none;
    margin: 0;
}

#cv-input-jobs {
    width: 20rem;
    font-size: 1.2rem;
    margin: 0;
}

#buttons-fieldset-jobs {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    gap: 1rem;
}

#back-button-jobs,
#submit-form-button-jobs {
    font-weight: bold;
    margin: 0;
    width: 7rem;
    height: 2.5rem;
    font-size: 1.2rem;
    padding: 0.4rem;
    border: 2px solid rgb(4, 23, 52);
    background-color: #164a97;
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;

    transition: background-color 0.2s ease-in-out;
}

#back-button-jobs:hover, #submit-form-button-jobs:hover, #apply-button-jobs:hover {
    background-color: #1a427e;
}

#submit-dialog-box-jobs {
    width: 50%;
    height: 10rem;
    border: 0.3rem solid #164a97;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

#dialog-text-jobs {
    text-align: left;
}

#close-button-jobs {
    font-weight: bold;
    margin: 0 -1rem 0 0;
    width: 10rem;
    height: 2rem;
    padding: 0.4rem;
    border: 2px solid #164a97;
    background-color: rgb(255, 255, 255);
    color: #164a97;
    cursor: pointer;
    border-radius: 0.5rem;

    transition: background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

#close-button-jobs:hover {
    background-color: #164a97;
    color: white;
}

/* Responsive Page Styles */

@media (min-width: 320px) and (max-width: 480px) {

    body, html {
        margin: 0;
        padding: 0;
    }

    #cover-image {
        height: 10rem;
        border-bottom: 1rem solid #164a97;
        margin-bottom: 0;
    }

    #main-header {
        display: none;
    }  

    #responsive-container {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    } 

    #content-upper-home, #content-lower-home > img {
        display: none;
    }

    #content-lower-home { 
        width: 100%;
        margin: -3rem 0 -4rem 0;
        padding: 0;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #quote-box-home {
        margin: 0;
        width: 80%;
        height: 40%;
        padding: 1.5rem;
    }

    #quote-home {
        font-size: 1rem;
    }

    #attribution-home {
        font-size: 0.8rem;
    }

    #buttons-container-home-responsive {
        width: 100%;
        height: 3rem;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        
    }

    #buttons-container-home-responsive button {
        margin: 0;
        font-size: 1.2rem;
        width: 93%;
        height: 3rem;
        border-radius: 0.5rem;

        color: white;
        font-weight: bold;
        background-color: #164a97;
    }

    #menu-section-responsive {
        margin: 0;
        padding: 1rem;
        width: 100%;

        border-top: 1rem solid #164a97;
        border-bottom: 1rem solid #164a97;

        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu-section-responsive > p {
        font-size: 2.3rem;
        font-weight: bold;
        color: #164a97; 
    }

    #menu-content-responsive {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menu-content-responsive > img {
        margin: 0;
        width: 10rem;    
        height: 10rem;
    }

    #footer-container {
        display: none;
    }
}